html,
body {
  --primary: #25D5B9;
  --dark: #131E32;
  --light: #fbfbfb;
  --bg-light: #b5bdc8;
  --bg-dark: #28343b;
  --bg-card: var(--light);

  height: 100%;
  color: var(--dark);
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  letter-spacing: .08em;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg-light);
  background: linear-gradient(to bottom, var(--bg-light) 0%, var(--bg-dark) 100%);
  min-height: 100%;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.container {
  width: 30rem;
  height: 40rem;
  position: relative;
  perspective: 60em;
}

.card {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card > div {
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  border-radius: .5em;
  position: absolute;
  background: var(--bg-card);
  overflow: hidden;
}

.card * {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.card .back {
  background: var(--primary);
  transform: rotateY(180deg);
}

.card .back:before {
  content: '';
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  background: url('../img/logo.svg') no-repeat center;
  background-size: contain;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card .value {
  display: block;
  text-align: right;
  font-size: 34em;
  line-height: 36rem;
  letter-spacing: -4.5rem;
  position: absolute;
  right: 1rem;
  bottom: 0;
}

.card[data-value='100'] .value,
.card[data-value='120'] .value {
  font-size: 25em;
  letter-spacing: -4.5rem;
  line-height: 31rem;
}

.card[data-value^='1'] .value::first-letter {
  letter-spacing: -5.5rem;
}

.card[data-value='∞'] .value {
  font-size: 35em;
  padding-right: .03em;
}

.card .countainer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  background: var(--dark);
  font-size: 4em;
}

.card .count {
  display: inline-block;
  text-align: center;
  word-wrap: break-word;
  width: 4em;
  line-height: .5em;
  color: var(--primary);
}

.card[data-value='16'] .count,
.card[data-value='24'] .count {
  font-size: .85em;
}

.card[data-value='40'] .count,
.card[data-value='60'] .count {
  font-size: .6em;
  width: 9em;
}

.card[data-value='80'] .count,
.card[data-value='100'] .count,
.card[data-value='120'] .count {
  font-size: .6em;
  width: 11em;
}

.card .desc {
  font-size: 1.4em;
  width: 30rem;
  padding-right: 2rem;
  color: var(--dark);
  text-align: right;
  transform-origin: right top 0;
  transform: rotate(-90deg);
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -28.5rem;
}

.card .desc:after {
  content: '';
  position: absolute;
  top: 110%;
  right: 2.1rem;
  display: block;
  width: 3em;
  border-bottom: .2em solid var(--primary);
}
